

<h1 class="title">
  Formulario Prematricula
</h1>


<form class="formulario" [formGroup]="form" (ngSubmit)="submit()" action="#">
  <div class="data">
    <label for="minicipio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona su Municipio</label>
    <select name="minicipio" id="minicipio" class="input" formControlName="municipio">
      <option value="Jardin">Jardin</option>
      <option value="Don Matias">Don Matias</option>
      <option value="Santa Fé de Antioquia">Santa Fé de Antioquia</option>
    </select>
    @if(isRequiredForm("municipio")){
      <small class="small">Este campo es requerido</small>
    }
  </div>
  <div class="data">
    <label for="curso" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona el curso de interes</label>
    <select name="curso" id="curso" class="input" formControlName="curso">
      <option value="Maquillaje Profesional">Maquillaje Profesional</option>
      <option value="Cejas y Pestañas">Cejas y Pestañas</option>
      <option value="Acrílico Basico">Acrílico Basico</option>
      <option value="Acrílico Avanzado">Acrílico Avanzado</option>
    </select>
    @if(isRequiredForm("curso")){
      <small class="small">Este campo es requerido</small>
    }
  </div>
  <div class="button-contend">
    <button [disabled]="loading()" type="submit" class="button">{{loading()?"Guardando...":"Guardar"}}</button>
  </div>
</form>
