<footer class="footer">
  <div class="principal-footer">
      <div class="contacto-footer">
        <div class="items-footer">
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <p>Contáctanos</p>
        <p>HolaArteyColor.com</p>
        <p>+57 312 877 6356</p>
        <p>MEDELLÍN, COLOMBIA.</p>
        <p>2024</p>
    </div>
    <div class="politicas-footer">
        <P>ACERCA DE ARTE Y COLOR</P>
        <P>POLÍTICA DE COOKIES</P>
        <P>POLÍTICA DE DATOS PERSONALES</P>
    </div>
  </div>

</footer>
