<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">CURSO</th>
      <th scope="col">MUNICIPIO</th>
      <th scope="col">ESTADO</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for(task of tasks();track task.id){
      <tr>
        <th scope="row">{{task.id}}</th>
        <td>{{task.curso}}</td>
        <td>{{task.municipio}}</td>
        <td>Prematriculado</td>
      </tr>
    } @empty{
      <tr>
        <td>No te has inscripto a ningun curso</td>
      </tr>
    }
  </tbody>
</table>

