.contenedor{
  max-width: 70%;
  margin: 5rem auto;

}

.card-img-container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho del card */
  height: 40vh; /* Establece una altura fija para el contenedor */
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-container img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}



.title{
  /* font-family: var(--secondary-font); */
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

.btn{
  color: var(--primary-color);
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  padding: .5rem 5rem;
  margin: 1rem 0;
  width: 100%;
  transition: background-color .3s;
}
.btn:hover{
  background-color: var(--primary-color);
  color: var(--background-color);

}

.card-title{
  text-align: center;
  margin-bottom: 1rem;
  font-family: var(--secondary-font);
  font-size: 20px;
}

.card-text{
  margin: 0;
  font-size: 14px;
}

.card-text span{
  font-weight: bold;
}


