
<section class="contenedor">
  <h1 class="title">Matriculas Abiertas</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-img-container">
          <img src="assets/santafe.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h3 class="card-title">Santa Fé de Antioquia</h3>
          <p class="card-text"><span>Cursos Disponibles: </span>Todos</p>
          <p class="card-text"><span>Horario: </span> Jueves 11 am - 4 pm</p>
          <p class="card-text"><span>Fecha de inicio: </span> Jueves 2 Noviembre</p>
          <a routerLink="/auth/sign-in" class="btn">Matriculate</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Cierre de Matriculas 31 Octubre</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-img-container">
          <img src="assets/don_matias.jpg" class="card-img-top" alt="...">
        </div>

        <div class="card-body">
          <h3 class="card-title">Santa Fé de Antioquia</h3>
          <p class="card-text"><span>Cursos Disponibles: </span>Todos</p>
          <p class="card-text"><span>Horario: </span> Jueves 11 am - 4 pm</p>
          <p class="card-text"><span>Fecha de inicio: </span> Jueves 2 Noviembre</p>
          <a routerLink="/auth/sign-in" class="btn">Matriculate</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Cierre de Matriculas 31 Octubre</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-img-container">
          <img src="assets/jardin.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h3 class="card-title">Jardín</h3>
          <p class="card-text"><span>Cursos Disponibles: </span>Todos</p>
          <p class="card-text"><span>Horario: </span> Marte 11 am - 4 pm</p>
          <p class="card-text"><span>Fecha de inicio: </span> Martes 6 Noviembre</p>
          <a routerLink="/auth/sign-in" class="btn">Matriculate</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Cierre de Matriculas 3 Noviembre</small>
        </div>
      </div>
    </div>
  </div>
</section>
