
<section class="Nosotros">
  <div class="Nosotros__informacion">
    <h2 class="Nosotros__title">Quienes Somos?</h2>
    <p>Somos Arte y Color, una academia viajera de belleza comprometida con la formación de profesionales altamente capacitados en el ámbito estético. No solo ofrecemos nuestros cursos en un solo lugar, sino que llevamos nuestra oferta educativa a diferentes municipios de Antioquia, asegurando que más personas puedan acceder a nuestras capacitaciones sin importar su ubicación. Nos especializamos en cursos de corta duración que otorgan certificados de validez profesional, permitiendo a nuestros estudiantes acceder de manera rápida y efectiva al mercado laboral. Nuestro enfoque está centrado en brindar una educación práctica, actualizada y accesible, que se alinee con las demandas actuales de la industria de la belleza.</p>
  </div>
  <div class="Nosotros__imagen">
    <img src="assets/sobre_nosotros.png" alt="">
  </div>
</section>


<section class="contenedor">
  <h2 class="titulo__motivos">Por qué estudiar en nuestra academia?</h2>
  <div class="motivos">
    <div class="motivos__contenedor">
      <div class="targeta">
        <i class="fa-solid fa-certificate icon"></i>
        <h2 class="targeta__title">Certificación para el mercado laboral</h2>
        <p class="targeta__text">Los cursos ofrecidos son breves pero intensivos, permitiendo a los estudiantes obtener certificaciones en poco tiempo y estar listos para trabajar en la industria.</p>
      </div>
    </div>
    <div class="motivos__contenedor">
      <div class="targeta">
        <i class="fa-solid fa-landmark icon"></i>
        <h2 class="targeta__title">Cursos prácticos y orientados al empleo</h2>
        <p class="targeta__text">Los programas están diseñados específicamente para preparar a los estudiantes con habilidades demandadas en el mercado laboral, asegurando que puedan comenzar su carrera con una formación sólida y actualizada.</p>
      </div>
    </div>
    <div class="motivos__contenedor">
      <div class="targeta">
        <i class="fa-solid fa-house-laptop icon"></i>
        <h2 class="targeta__title">Flexibilidad en inscripciones y pagos</h2>
        <p class="targeta__text">La plataforma digital permite inscribirse de manera ágil, rapida y realizar pagos seguros a través de su pasarela de pago ¡No esperes mas para matricularte!</p>
      </div>

    </div>

  </div>

</section>

