<section class="contenedor">
  <img class="icon" src="assets/icono_arte.png" alt="">
</section>
<section class="text">
  <div class="contenido_text">
    <h2 class="text__title">¡Transforma tu pasión en una carrera con nosotros!</h2>
    <i class="fa-regular fa-window-minimize icone"></i>
    <p class="text__contend">En Arte y Color, estamos dedicados a formarte como un profesional de la belleza en el menor tiempo posible. Ofrecemos cursos certificados en las áreas más demandadas del sector, con un enfoque práctico y orientado a resultados. Nuestro equipo de instructores te guiará paso a paso, brindándote las herramientas necesarias para triunfar en el mundo de la belleza.</p>
    <p class="text__contend">Únete a la Academia de Belleza, Arte y Color y comienza tu carrera en el mundo de la estética. Inscríbete hoy y da el primer paso hacia un futuro lleno de oportunidades.</p>
  </div>

  <div class="enfoque">
    <div>
      <i class="fa-solid fa-head-side-virus icone"></i>
      <p class="enfoque__text">Creatividad</p>
    </div>
    <div>
      <i class="fa-solid fa-compass-drafting icone"></i>
      <p class="enfoque__text">Diseño</p>
    </div>
    <div>
      <i class="fa-solid fa-heart icone"></i>
      <p class="enfoque__text">Amor</p>
    </div>
    <div>
      <i class="fa-solid fa-font-awesome icone"></i>
      <p class="enfoque__text">Progreso</p>
    </div>
  </div>
</section>
