<section class="contenedor">
  <h2>Conoce Nuestros Cursos</h2>
    <div class="curso">
      <div class="curso__imagen">
        <img src="assets/maquillaje.png" alt="Curso de Uñas">
        <div class="overlay">
          <div class="overlay-text">
            <ul class="list">
              <li>Visigismo y contorno</li>
              <li>Maquillaje clasico de día</li>
              <li>Maquillaje de noche</li>
              <li>Maquillaje Quinceañera o Novia</li>
              <li>Técnica de maquillaje cut</li>
              <li>Maquilaje piel labios</li>
              <li>Pestañas postizas</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cuso__contenido--uñas">
          <h2 class="title">Maquillaje Profesional</h2>
          <p class="text__curso">Aprende maquillaje profesional con técnicas sencillas y prácticas para realzar la belleza natural. Domina el uso de productos y herramientas para crear looks versátiles, desde lo diario hasta ocasiones especiales. Con este curso, podrás ofrecer un servicio completo y personalizado a tus clientes.</p>
          <a routerLink="/matriculas" class="boton">Matriculate</a>
      </div>
  </div>
  <div class="curso">
      <div class="cuso__contenido--cejas">
          <h2 class="title">Cejas y Pestañas</h2>
          <p class="text__curso">
            Domina el arte del diseño de cejas y pestañas en un solo curso. Aprende a esculpir cejas perfectas y aplicar extensiones de pestañas personalizadas para realzar la mirada de tus clientes. Ofrece un servicio integral de belleza que destaque por su precisión y estilo.</p>
          <a routerLink="/matriculas" class="boton">Matriculate</a>
      </div>
      <div class="curso__imagen">
        <img src="assets/pestañas.jpg" alt="Curso de Uñas">
        <div class="overlay">
          <div class="overlay-text">
            <ul class="list">
              <li>Forma y Medida</li>
              <li>Depilacion con cera </li>
              <li>Sombreado semipermanente</li>
              <li>Diseño de cejas Organico</li>
              <li>Alizado de ceja</li>
              <li>Efecto Natural</li>
              <li>Punto a Punto</li>
              <li>Ondulado permanente de pestañas</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="curso">
      <div class="curso__imagen">
        <img src="assets/uñas_basico.jpg" alt="Curso de Uñas">
        <div class="overlay">
          <div class="overlay-text">
            <ul class="list">
              <li>Estructura y Morfologia de las uñas</li>
              <li>Manejo de Perlas</li>
              <li>Preparación de las Uñas</li>
              <li>Retoque y Retiro</li>
              <li>Montaje de Acrílico Basico</li>
              <li>Forrado de Acrílico</li>
              <li>Tecnicas dipping power</li>
              <li>Semipermanente</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cuso__contenido--pestañas">
          <h2 class="title">Acrílico Basico</h2>
          <p class="text__curso">
            Aprende lo esencial del acrílico en nuestro curso básico. Descubre cómo esculpir y aplicar uñas acrílicas de forma sencilla, con técnicas prácticas y productos accesibles. Ideal para quienes quieren empezar en el mundo del nail art con bases sólidas y creativas</p>
          <a routerLink="/matriculas" class="boton">Matriculate</a>
      </div>
  </div>
    <div class="curso">
      <div class="cuso__contenido--cejas">
          <h2 class="title">Acrílico Avanzado</h2>
          <p class="text__curso">
            Perfecciona tus habilidades con nuestro curso avanzado de acrílico. Explora técnicas sofisticadas para crear diseños detallados, formas elegantes y acabados duraderos. Ideal para quienes buscan llevar su arte en uñas acrílicas al siguiente nivel y ofrecer un servicio profesional y creativo.</p>
          <a routerLink="/matriculas" class="boton">Matriculate</a>
      </div>
      <div class="curso__imagen">
        <img src="assets/uñas_avanzado.jpg" alt="Curso de Uñas">
        <div class="overlay">
          <div class="overlay-text">
            <ul class="list">
              <li>Tecnicas Esculpida</li>
              <li>Tecnicas Poligel</li>
              <li>Tecnicas con Molde</li>
              <li>Duales</li>
              <li>AcrílicoGel</li>
              <li>Tecnica con Press on</li>
              <li>Tecnica con Gel Solido</li>
              <li>Tecnica con Tip</li>
            </ul>
          </div>
        </div>
      </div>
  </div>

</section>
