<div class="container">
  <nav class="nav">
    <div class="nav__title">
      <img class="icono" src="./assets/icon.png" alt="">
      <h1 class="title">Belleza, Arte y Color</h1>
    </div>

    <div class="nav__elements">
      <a routerLink="/inicio" routerLinkActive="active" class="element">Inicio</a>
      <a routerLink="/nosotros" routerLinkActive="active" class="element">Sobre Nosotros</a>
      <a routerLink="/cursos" routerLinkActive="active" class="element">Cursos</a>
      <a routerLink="/matriculas" routerLinkActive="active" class="element">Matriculas</a>

    </div>
  </nav>
  <hr>
</div>

